<!-- <div class="panel-heading">Customer Form</div>
<form name="customerForm" #customerFormGroup="ngForm">
    <div class="form-group">
        <label for="fName">
            First Name:
        </label>
        <input placeholder="Enter first name" class="form-control" name="fName" [ngModel]="CustomerModel.firstName"
            required minlength="3" #FirstNameFormControl="ngModel" />
    </div>
    <div class="form-group">
        <label for="LName">
            Last Name:
        </label>
        <input placeholder="Enter last name" class="form-control" name="lName" [ngModel]="CustomerModel.LastName"
            required minlength="3" #LastNameFormControl="ngModel" />
    </div>
    <div class="form-group">
        <label for="email">
            Email:
        </label>
        <input placeholder="Enter email id" class="form-control" name="email" [ngModel]="CustomerModel.email" required
            minlength="3" #emailFormControl="ngModel" />
    </div>
    <button class="btn">submit</button>
</form>
<pre>
    is pristine : {{customerFormGroup.pristine}}
    is dirty : {{customerFormGroup.dirty}}
    is valid: {{customerFormGroup.valid}}
    is inavalid : {{ customerFormGroup.invalid}}
    is untouched :{{customerFormGroup.untouched}}
    is touched :{{customerFormGroup.touched}}

</pre>
<pre class ="bg-warning card"></pre> -->